/* Tipografía */
@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro.woff2") format("woff2"),
    url("/assets/fonts/SourceSansPro.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: #ebebeb;
  --primary: #031e34;
  /* Typography */
  --font-family: "Source Sans Pro";
}

/* Resets */
html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}button,input,textarea{border:1px solid gray}button{border-radius:0;padding:.75em 1em;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none}noscript{display:block;margin-bottom:1em;margin-top:1em}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-family);
  font-size: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* Tipografía */
p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2;
}

h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

h4 {
  font-size: 1.2em;
  line-height: 1;
}

/* Tipografía responsiva */
/* https://css-tricks.com/snippets/css/fluid-typography */
body {
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
}

/****************************************
*    Componentes
*****************************************/
/* Header */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  background: lightcyan;
  border-bottom: 0.5px solid lightskyblue;
}

@media screen and (max-width: 40em) {
  /* Mobile */
  .header {
    flex-direction: column;
  }
}

/* Logo */
.logo {
  max-width: 80px;
  margin: 0 10vw 0;
}

/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    /* Landscape */
    .logo {
      padding: 1em 0;
    }
}

@media screen and (max-width: 40em) {
  /* Mobile */
  .logo {
    max-width: 60px;
    margin: 1em auto;
  }
}

/* Nav */
.nav ul {
  display: flex;
}

@media screen and (max-width: 40em) {
  /* Mobile */
  .nav  ul {
    margin: 1em auto;
  }
}

/* Nav Links */
.nav ul li {
  margin-right: 14vw;
}

.nav ul li:not(:last-child) {
  margin-right: 1.75em;
}

@media screen and (max-width: 40em) {
  /* Mobile */
  .nav  ul li {
    margin: 0 auto;
  }
}

/* Main */
.main {
  padding: 1em 3em;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #150e4a;
  color: white;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    /* Landscape */
    .footer {
      position: static;
      width: 100vw;
    }
}

.footer p {
  padding: 1.5em;
  font-size: 0.75em;
  text-align: center;
}

/****************************************
*    Helpers
*****************************************/
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90vw;
}

/* Flexible grid System */
/* https://css-tricks.com/responsive-designs-and-css-custom-properties-building-a-flexible-grid-system */
.column {
  flex-basis: calc(var(--width) / var(--columns) * 100%);
}
